@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

.has-fade {
  visibility: hidden;
}

.hero {
  width: 100%;
}

.hero__image {
  position: relative;
  height: 25rem;
  background-image: url(../images/header3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 76%;
  /*
        another possible:
        position: relative;
        height: 25rem;
        background-image: url(/images/2.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 57%;
        */
  /*
        position: relative;
        height: 25rem;
        background-image: url(/images/4.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 22%;
        */
}

.hero__text {
  width: 100%;
  margin-left: 12%;
}

.hero__text h2 {
  color: white;
  opacity: 0.7;
  font-style: italic;
  font-weight: bold;
  max-width: 25%;
  font-size: 1.5rem;
  line-height: 4rem;
  letter-spacing: 0.3rem;
  text-align: center;
  text-shadow: 2px 2px 0px black;
  /*
        @include breakpoint-down(small){
            font-size: 1.4rem;
            opacity: 0.9;
            margin-top:20%;
            margin-bottom:auto;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            
        }
            I don't think I like this
        */
}

@media (max-width: 39.9375em) {
  .hero__text h2 {
    font-size: 1.3rem;
    width: 80%;
    line-height: 2rem;
    margin-bottom: 55%;
  }
}

.inner {
  margin: 0 auto;
  width: 80%;
  margin-top: 4rem;
}

@media (max-width: 39.9375em) {
  .inner {
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }
  .inner .padding-container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .inner .split {
    display: block;
  }
  .inner .split section {
    display: block;
  }
  .inner .split section .image.fit.portrait {
    display: none;
  }
  .inner .split section .features {
    display: block;
    margin: 0em auto;
    padding: 0em auto;
  }
  .inner .split section .features article {
    border: none;
    width: 100%;
  }
  .inner .split section .features article:nth-child(2n) {
    padding-left: 3em;
    padding-right: 0;
    width: 100%;
  }
  .inner .split section .features article:nth-child(2n)::before {
    left: 0em;
  }
}

.inner h2 {
  color: #5a5a5a;
  text-transform: none;
  font-weight: 300;
}

@media (max-width: 87.4375em) {
  .inner h2 {
    text-align: center;
  }
}

/* Split */
.split {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -6em;
  margin-bottom: 2em;
}

.split > * {
  margin-left: 6em;
  width: 50%;
}

.split > * > :last-child {
  margin-bottom: 0;
}

.split.centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.split.style1 > *:nth-child(2n - 1) {
  width: 33%;
}

.split.style1 > *:nth-child(2n) {
  width: 67%;
}

@media (max-width: 87.4375em) {
  .split {
    margin-left: -3.75em;
  }
  .split > * {
    margin-left: 3.75em !important;
  }
  .split.centered {
    -moz-align-items: -moz-flex-start;
    -ms-align-items: -ms-flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 63.9375em) {
  .split {
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-left: 0;
  }
  .split > * {
    margin-left: 0 !important;
    margin-top: 3.75em !important;
    width: 100% !important;
  }
  .split > *:first-child {
    margin-top: 0 !important;
  }
  .split.reversed {
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
  .split.reversed > * {
    margin-bottom: 3.75em !important;
    margin-top: 0 !important;
  }
  .split.reversed > *:first-child {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 736px) {
  .split > * {
    margin-top: 3em !important;
  }
  .split.reversed > * {
    margin-bottom: 3em !important;
  }
}

.material-icons {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0.5rem;
  font-size: 16px;
}

#mail-icon {
  font-size: 14px;
}

#phone-icon {
  font-size: 14px;
}

.image.fit.portrait img {
  max-height: 15em;
}

.features {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features > article {
  border-style: solid;
  border-width: 1px;
  padding: 2.25em 0;
  position: relative;
  border-color: #6A8EA9;
  color: #5a5a5a;
}

.features > article:first-child {
  border-top-width: 0px;
}

.features > article:nth-child(2) {
  border-top-width: 0px;
}

.features > article:nth-child(3) {
  border-bottom-width: 0px;
}

.features > article:nth-child(2n-1) {
  border-left-width: 0px;
  width: 50%;
  padding-left: 3.5em;
  padding-right: 3em;
}

.features > article:nth-child(2n-1)::before {
  left: 0;
}

.features > article:nth-child(2n) {
  border-right-width: 0px;
  width: 50%;
  padding-left: 6.5em;
  padding-right: 0em;
}

.features > article:nth-child(2n)::before {
  left: 1.5em;
}

.features > article:last-child {
  margin-bottom: 0px;
  border-bottom-width: 0px;
}

.features > article:before {
  position: absolute;
  font-size: 1.875rem;
  top: 0.975em;
  color: #6A8EA9;
}

.features > article h3 {
  margin: 0 0 0.5em 0;
  color: #6A8EA9;
}

@media screen and (max-width: 1280px) {
  .features > article .features > article {
    padding: 1.6875em 0;
  }
  .features > article .features > article:before {
    font-size: 1.5rem;
    top: 0.69231em;
  }
  .features > article .features > article:nth-child(2n -1) {
    padding-left: 2.75em;
    padding-right: 2.25em;
  }
  .features > article .features > article:nth-child(2n) {
    padding-left: 5em;
    padding-right: 0;
  }
  .features > article .features > article:nth-child(2n):before {
    left: 1.38462em;
  }
}

@media screen and (max-width: 980px) {
  .features > article {
    padding: 3em 0;
  }
  .features > article:before {
    font-size: 1.5rem;
    top: 1.52308em;
  }
  .features > article:nth-child(2n -1) {
    padding-left: 3em;
    padding-right: 3em;
  }
  .features > article:nth-child(2n) {
    padding-left: 6em;
    padding-right: 0;
  }
  .features > article .features > article:nth-child(2n):before {
    left: 1.84615em;
  }
}

@media screen and (max-width: 480px) {
  .features > article .features > article {
    display: block;
    border-left-width: 0;
    padding: 2.25em 0;
    width: 100%;
  }
  .features > article .features > article:before {
    top: 0.96923em;
  }
  .features > article .features > article:nth-child(1) {
    border-top-width: 0;
  }
  .features > article .features > article:nth-last-child(1) {
    padding-bottom: 0;
    padding-left: 0px;
  }
  .features > article .features > article:nth-child(2) {
    border-top-width: 1px;
  }
  .features > article .features > article:nth-child(2n -1) {
    padding-left: 3em;
    padding-right: 0;
    width: 100%;
  }
  .features > article .features > article:nth-child(2n -1):before {
    left: 0;
  }
  .features > article .features > article:nth-child(2n) {
    padding-left: 3em;
    padding-right: 0;
    width: 100%;
  }
  .features > article .features > article:nth-child(2n):before {
    left: 0;
  }
}

#slogan {
  width: 80%;
  text-align: center;
  margin-top: 20%;
  margin-right: auto;
  margin-bottom: 0.5em;
  margin-left: auto;
}

footer p {
  margin-bottom: 0px;
  text-align: center;
  color: white;
  padding: 0.2em 0em 0.2em 0em;
  margin-top: 0em;
  background-color: black;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3 {
  font-family: "Book Antiqua", serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2rem;
  color: #5a5a5a;
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.02rem;
  font-weight: 300;
  color: #9698a6;
}

body.noscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #9698a6;
}

button, .button {
  padding: 0.875rem 2.1875rem;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#6A8EA9));
  background: linear-gradient(to right, #31d35c, #6A8EA9);
  border: 0;
  color: white;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
}

.padding-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (max-width: 87.4375em) {
  .padding-container.inner {
    width: 100%;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbanner {
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0.3rem 0rem;
  background-color: black;
  color: white;
  font-size: small;
  letter-spacing: 0.1em;
}

@media (max-width: 39.9375em) {
  .topbanner {
    padding: 0.1rem 0rem;
    padding: 0.3rem 0rem;
  }
}

.topbanner > ul {
  list-style: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 39.9375em) {
  .topbanner > ul {
    padding-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    letter-spacing: 0.05em;
  }
}

.topbanner > ul > li {
  margin-right: 0.5rem;
  padding-left: 0.5rem;
}

@media (max-width: 39.9375em) {
  .topbanner > ul > li {
    padding-left: 0px;
  }
}

.topbanner > ul > li > a, .topbanner > ul > li a:visited {
  color: white;
}

.header {
  margin-left: 1rem;
  margin-right: 1rem;
}

.header nav {
  position: relative;
  padding: 1.0625rem 1.5rem;
  background-color: white;
}

.header.open .header__hamburger > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header.open .header__hamburger > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 0px;
          transform-origin: 0 0px;
}

.header.open .header__hamburger > span:nth-child(2) {
  opacity: 0;
}

.header__menu {
  z-index: 4;
  background: white;
  padding: 1.625rem;
  margin-top: 1.5rem;
  border-radius: 10px;
  position: absolute;
  width: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__menu a {
  display: block;
  color: #2d314d;
  padding: 0.625rem;
  text-align: center;
}

.header .overlay {
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 6.5rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
  background-image: linear-gradient(to bottom, #2d314d, transparent);
}

.header__hamburger > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2d314d;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header__hamburger > span:not(:last-child) {
  margin-bottom: 6px;
}

.header__logo {
  letter-spacing: 0.2em;
  color: pink;
}

@media (max-width: 39.9375em) {
  .header__logo h1 {
    font-size: 1.125rem;
  }
}

.header__logo img {
  width: 2rem;
  height: 2rem;
}

.header__links a {
  font-size: 1.125rem;
  position: relative;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  color: #9698a6;
}

.header__links a:not(:last-child) {
  margin-right: 2rem;
}

.header__links a::before {
  content: "";
  position: absolute;
  display: block;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -10px;
  background: -webkit-gradient(linear, left top, right top, from(#5a5a5a), to(#2d314d));
  background: linear-gradient(to right, #5a5a5a, #2d314d);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #2d314d;
}

.header__links a:hover::before {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */