.hero{
    width:100%;
    &__image{
        
        position: relative;
        height: 25rem;
        background-image: url(../images/header3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 76%;
        

        /*
        another possible:
        position: relative;
        height: 25rem;
        background-image: url(/images/2.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 57%;
        */

        /*
        position: relative;
        height: 25rem;
        background-image: url(/images/4.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 22%;
        */


    }

    &__text{
        width: 100%;
        margin-left: 12%;
    }

    &__text h2{
        color: $white;
        //visibility: hidden; //Can't get this to look right

        opacity: 0.7;
        font-style: italic;
        font-weight: bold;
        max-width: 25%;
        font-size: 1.5rem;
        line-height: 4rem;
        letter-spacing: 0.3rem;
        text-align:center;
        text-shadow: 2px 2px 0px black;

        @include breakpoint-down(small){
            font-size: 1.3rem;
            width: 80%;
            line-height: 2rem;
            margin-bottom: 55%;
        }

       /*
        @include breakpoint-down(small){
            font-size: 1.4rem;
            opacity: 0.9;
            margin-top:20%;
            margin-bottom:auto;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            
        }
            I don't think I like this
        */
     //   position: relative;
    //    width:33%;
      //  top:3em;
    }
    
    
}
