.inner{
    margin: 0 auto;
    width: 80%;
    margin-top: 4rem;


    @include breakpoint-down(small){ 
        display:block;
        padding-left: 0px;
        padding-right: 0px;

        width: 100%;
        .padding-container{
            width:100%;
            padding-left: 0px;
            padding-right:0px;
        }

        .split{
            display:block;

            section{
                display:block;
                .image.fit.portrait{
                    display: none;
                }

                .features{
                    display:block;
                    margin:0em auto;
                    padding: 0em auto;
                    
                    article{
                        border:none;
                        width:100%;
                    }
                    
                    article:nth-child(2n) {
                        padding-left: 3em;
                        padding-right: 0;
                        width: 100%;

                        &::before{
                            left: 0em;  //push icon into left padding
                        }
                        
                    }
                }
            }
        }
    }

    

    & h2{
        color: $darkSilverBlue;
        text-transform: none;
        font-weight: 300;
        @include breakpoint-down(large){
            text-align: center;
        }


    }
}


/* Split */

.split {
    align-items: flex-start;
    display: flex;
    margin-left: -6em;
    margin-bottom: 2em;
}

    .split > * {
        margin-left: 6em;
        width: 50%;
    }

        .split > * > :last-child {
            margin-bottom: 0;
        }

    .split.centered {
        align-items: center;
    }

    .split.style1 > *:nth-child(2n - 1) {
        width: 33%;
    }

    .split.style1 > *:nth-child(2n) {
        width: 67%;
    }

    //@media screen and (max-width: 1280px) {
    @include breakpoint-down(large){    

        .split {
            margin-left: -3.75em;
        }

            .split > * {
                margin-left: 3.75em !important;
            }

            .split.centered {
                -moz-align-items: -moz-flex-start;
                -webkit-align-items: -webkit-flex-start;
                -ms-align-items: -ms-flex-start;
                align-items: flex-start;
            }

    }

    @include breakpoint-down(medium){   

        .split {
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-left: 0;
        }

            .split > * {
                margin-left: 0 !important;
                margin-top: 3.75em !important;
                width: 100% !important;
            }

                .split > *:first-child {
                    margin-top: 0 !important;
                }

            .split.reversed {
                -moz-flex-direction: column-reverse;
                -webkit-flex-direction: column-reverse;
                -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
            }

                .split.reversed > * {
                    margin-bottom: 3.75em !important;
                    margin-top: 0 !important;
                }

                    .split.reversed > *:first-child {
                        margin-bottom: 0 !important;
                    }

    }

    @media screen and (max-width: 736px) {

        .split > * {
            margin-top: 3em !important;
        }

        .split.reversed > * {
            margin-bottom: 3em !important;
        }

    }

.material-icons { 
    color: rgba(255, 255, 255, 1);
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom: 0px;
    padding-right: 0.5rem;
    font-size: 16px;
 }

 #mail-icon{
    font-size: 14px;
 }

 #phone-icon{
     font-size: 14px;
 }

 .image.fit.portrait img {
    
    max-height: 15em;
}

.features{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;

    > article{
        border-style: solid;
        border-width: 1px;
        padding: 2.25em 0;
        position: relative;
        border-color: $silverBlue;
        color: $darkSilverBlue;

        &:first-child{
            border-top-width: 0px;
        }

        &:nth-child(2){
            border-top-width: 0px;
        }
        &:nth-child(3){
            border-bottom-width: 0px;
        }

        &:nth-child(2n-1){      // this is left column
            border-left-width: 0px;
            width: 50%;
            padding-left: 3.5em;
            padding-right: 3em;

            &::before{          // push icon into left padding
                left:0; 
            }
        }

        &:nth-child(2n){        // this is right column
            border-right-width: 0px;
            width:50%;
            padding-left: 6.5em;
            padding-right: 0em;

            &::before{
                left: 1.5em;  //push icon into left padding
            }

        }

        &:last-child{
            margin-bottom: 0px;
            border-bottom-width: 0px;
            
        }

        &:before{               //icons in features grid
            position: absolute;
            font-size: 1.875rem;
            top: 0.975em;
            color: $silverBlue;
        }

        & h3{
           margin: 0 0 0.5em 0;
           color: $silverBlue;
        }

        @media screen and (max-width: 1280px) {

			.features > article {
				padding: 1.6875em 0;
			}

				.features > article:before {
					font-size: 1.5rem;
					top: 0.69231em;
				}

				.features > article:nth-child(2n -1) {
					padding-left: 2.75em;
					padding-right: 2.25em;
				}

				.features > article:nth-child(2n) {
					padding-left: 5em;
					padding-right: 0;
				}

					.features > article:nth-child(2n):before {
						left: 1.38462em;
					}

		}

		@media screen and (max-width: 980px) {
				padding: 3em 0;
		

				&:before {
					font-size: 1.5rem;
					top: 1.52308em;
				}

				&:nth-child(2n -1) {        //this is left column
					padding-left: 3em;
					padding-right: 3em;
				}

				&:nth-child(2n) {           //this is right column
					padding-left: 6em;
					padding-right: 0;
				}

					.features > article:nth-child(2n):before {
						left: 1.84615em;
					}

		}

		@media screen and (max-width: 480px) {
            
            

			.features > article {
                display:block;
				border-left-width: 0;
                padding: 2.25em 0;
                width:100%;
			}

				.features > article:before {
					top: 0.96923em;
				}

				.features > article:nth-child(1) {
					border-top-width: 0;
				}

				.features > article:nth-last-child(1) {
                    padding-bottom: 0;
                    padding-left: 0px;
				}

				.features > article:nth-child(2) {
					border-top-width: 1px;
				}

				.features > article:nth-child(2n -1) {
					padding-left: 3em;
					padding-right: 0;
					width: 100%;
				}

					.features > article:nth-child(2n -1):before {
						left: 0;
					}

				.features > article:nth-child(2n) {
					padding-left: 3em;
					padding-right: 0;
					width: 100%;
				}

					.features > article:nth-child(2n):before {
						left: 0;
					}

		}
    }
}