//Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$silverBlue: #6A8EA9;
$grayishBlue: hsl(233, 8%, 62%) ;
$darkSilverBlue: #5a5a5a;
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//Font sizes
$font-large: 1.75rem;   //36px
$font-medium: 1.125rem; //18px
$font-small: 0.875rem;  //14px